#activity {
  overflow: visible;
  
  h3 {
    margin: 20px 0;
    text-transform: uppercase;
  }
  
  ul {
    li {
      margin-bottom: 16px;
      padding: 10px 14px;
      border:  1px solid #e0e0e0;
      
      .timestamp {
        margin-bottom: 3px;
        font-size: 12px;
        color: #999;
      }
      .details {
        font-size: 14px;
        color: #444;
        
        strong {
          font-weight: bold;
          color: #000;
        }
      }
    }
  }
  
  hr {
    margin: 20px 0;
  }
}
