/*
 *= require normalize-rails
 *= require jquery-ui-timepicker-addon
 *= require progress-polyfill
 *= require chocolate/style/font-awesome
 *= require_self
 */

@charset "UTF-8";


@import 'chocolate/style/partials/base';
@import 'chocolate/style/fontello';

html.backend {
  height: 100%;
  @import 'chocolate/style/partials/reset';

  body.backend {
    @import 'chocolate/style/partials/pseudo_elements';

    overflow:    hidden;
    height:      100%;
    background:  $background-color;
    font-family: $helvetica-light;
    font-size:   $default-font-size;

    @import 'chocolate/style/jquery-ui';
    @import 'chocolate/style/lightbox';
    @import 'chocolate/style/layout';
    @import 'chocolate/style/sly';
    @import 'chocolate/style/navigation';
    @import 'chocolate/style/heading';
    @import 'chocolate/style/forms';
    @import 'chocolate/style/listing';
    @import 'chocolate/style/controls';
    @import 'chocolate/style/activity';
  }
}

// has it's own namespace
@import 'chocolate/style/devise';
