#controls {
  position:   absolute;
  width:      100%;
  bottom:     0;
  margin-bottom: 28px;
  background: #fff;
  
  input, a, button, .control {
    display:      inline;
    margin:       12px 0;
    line-height:  19px;
    @include flat-button;
    
    &.save, &.new, &.yes {
      background: #c97e13;
      &:hover {
        background: #da850d;
      }
    }
    &.delete, &.cancel, &.no {
      background: #b32121;
      &:hover {
        background: #cd1d1d;
      }
    }

    &.left {
      float: left;
      margin-left: 12px;
    }
     
    &.right {
      float: right;
      margin-right: 12px;
    }
  }
}