html.devise {
  height: 100%;
}

body.devise {
  height:      100%;
  background:  #221d1b image-url($image-bkg-devise) no-repeat 50% 0;
  color:       #ffedd4;
  font-family: $helvetica-light;
  letter-spacing: 0.05em;
  
  @import 'chocolate/style/partials/pseudo_elements';
  
  #wrapper {
    width:       405px;
    padding-top: 117px;
    margin:      0 auto;
    
    #logo {
      width:  image-width($image-logo-devise);
      margin: 34px auto 68px;
      
      .logo-image {
        background: image-url($image-logo-devise);
        width:  image-width($image-logo-devise);
        height: image-height($image-logo-devise);
      }
      
      img {
        width: 257px;
      }
    }
    
    .formrow {
      overflow: hidden;
      margin:   36px 0;
    }
    
    form {
      width:  257px;
      margin: 0 auto;
      
      input[type=text],
      input[type=email],
      input[type=password] {
        width:   90%;
        padding: 10px 5%;
        border:  none;
        border-bottom: 1px solid #59524d;
        line-height: 25px;
        background:  none;
        color:       #cec1ae;
        font-size:   18px;
        @include transition(background-color .375s ease-out, border-color .375s ease-out);
        
        &:focus {
          background: #393332;
          border-color: transparent;
          border-bottom-color: #393332;
          @include transition(background-color .375s ease-out, border-color .375s ease-out);
        }
      }
      
      input[type=submit] {
        clear:     both;
        float:     right;
        display:   inline-block;
        width:     auto;
        padding:   10px 24px;
        margin:    12px 0;
        border:    none;
        
        font-size: 18px;
        color:     #fff;
        
        background-color: #fcfbfc;
        @include background-image(linear-gradient(top, #f4a233 0%, #c78934 100%));
        
        &:hover {
          cursor: pointer;
          
          background-color: #c4c4c4;
          @include background-image(linear-gradient(top, #c78934 0%, #f4a233 100%));
        }
        &:active {
          background-color: #fcfbfc;
          @include background-image(linear-gradient(top, #f4a233 0%, #c78934 100%));
        }
      }
      
      label {
        display:     block;
        margin:      0 0 10px 0;
        font-size:   10px;
        text-shadow: none;
        text-transform: uppercase;
      }
      
      .inline {
        label {
          display: inline;
          vertical-align: bottom;
          padding-left: 0.25em;
        }
      }
    }
    
    #flash, #form_errors {
      margin: 20px 0;
      padding: 0;
      text-align: center;
      color:      #f4a233;
      list-style-type: none;
      
      p {
        margin: 0;
      }
    }
    
    #links {
      font-size:  10px;
      text-align: center;
      
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: #80571f;
        &:hover {
          text-decoration: underline;
        }
      }
      .pipe {
        padding: 0 0.75em;
      }
    }
  }
}


