@font-face {
  font-family: 'fontello';
  src: font-url('chocolate/style/fontello.eot?16218589');
  src: font-url('chocolate/style/fontello.eot?16218589#iefix') format('embedded-opentype'),
       font-url('chocolate/style/fontello.woff?16218589') format('woff'),
       font-url('chocolate/style/fontello.ttf?16218589') format('truetype'),
       font-url('chocolate/style/fontello.svg?16218589#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?16218588#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-user:before { content: '\e807'; } /* '' */
.icon-off:before { content: '\e804'; } /* '' */
.icon-squares:before { content: '\e808'; } /* '' */
.icon-delete:before { content: '\e800'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-edit:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e809'; } /* '' */
.icon-folder:before { content: '\e80b'; } /* '' */
.icon-cog:before { content: '\e803'; } /* '' */
.icon-wrench:before { content: '\e802'; } /* '' */
.icon-move:before { content: '\e801'; } /* '' */
.icon-doc:before { content: '\e805'; } /* '' */