form.full {
  overflow: visible;
  width:    100%;
  height:   100%;
  margin-bottom: 28px;

  .frame {
    .fields {
      padding: 28px 0;
      .formrow:first-child {
        margin-top: 0;
      }
      .formrow:last-child {
        margin-bottom: 0;
      }
    }
  }

  .formrow {
    overflow: visible;
    margin: 28px 0;

    .item {
      overflow: visible;
      float:    left;
      width:    48%;
      &.full {
        width:  100%;
        margin: 0;
      }
      &:first-child {
        margin-right: 4%;
      }
    }
  }

  .error {
    .error-message {
      margin-top: 1px;
      font-size:  12px;
      color: #b70000;
    }
  }

  label {
    display:   block;
    margin:    0 0 10px 0;
    color:     #a5a5a5;
    font-size: 10px;
    text-shadow: 0 1px 0 #fff;
    text-transform: uppercase;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  textarea,
  select,
  .input {
    width:       98%;
    padding:     10px 1%;
    background:  none;
    border:      none;
    border-bottom: $form-border;
    color:       #838383;
    font-size:   14px;
    line-height: 25px;
    @include transition(background-color .375s ease-out, border-color .375s ease-out);

    &:focus {
      background:   #f6efe5;
      border-color: transparent;
      @include transition(background-color .375s ease-out, border-color .375s ease-out);
    }
  }

  textarea {
    overflow:    auto;
    box-sizing:  border-box;
    width:       100%;
    height:      237px;
    padding:     10px 0;
    font-family: $helvetica-light;
  }

  .image-field, .file-field {
    img {
      display: inline;
      width:   37px;
      height:  37px;
      margin-right: 10px;
    }
    .icon-doc {
      position: relative;
      bottom: 13px;
    }

    // position enlarged browse button of file dialog to cover upload button
      .file-select {
        @include flat-button;
        display:   inline-block;
        padding:   9px 22px;
        font-size: 14px;

        input[type=file] {
          position:  absolute;
          top:       0;
          left:      -11em;
          bottom:    0;
          right:     0;
          cursor:    pointer;
          direction: ltr;
          font-size: 23px;
          @include opacity(0);
        }
      }

      .selected {
        display: inline-block;
        margin-left: 10px;
        font-size: 14px;

        .file {
          padding: 8px 8px;
          border: $form-border;
          color: #838383;

          .sep {
            padding: 0 6px;
          }

          .remove {
            @extend .button-link;
            padding-right: 3px;
            color: #838383;

            &:hover {
              color: #000;
            }
          }
        }
      }
    }
  }

nav#form_content {
  margin-top:12px;
  padding: 14px 12px 18px;
  @include darken-on-hover(#888888);
  font-size: 18px;
  text-transform: uppercase;
  background: #fff;

  a {
    @include flat-button;
    cursor: pointer;
  }
}

// TODO use a CKEditor theme instead
  // CKEditor customizations
.cke_chrome {
  border: $form-border;
  box-shadow: none;

  .cke_top {
    background: #F5F5F5;
  }
  .cke_bottom {
    background: #F5F5F5;
  }
  .cke_toolgroup {
    background: #E4E4E4;
    border-radius: 0;
  }

  .cke_button_off,
  .cke_button_disabled,
  .cke_button_active,
  .cke_button_hover {
    &:hover {
      background: #fff;
    }
  }

  .cke_button_on {
    background: #aaa;
    box-shadow: none;
  }
}
