#header {
  width: 100%;
  
  #breadcrumbs {
    padding:        38px 0 0 0;
    color:          #b7b7b7;
    font-size:      11px;
    text-transform: uppercase;
    
    a:link, a:visited {
      color: #b7b7b7;
    }
    a:hover, a:active, .last {
      color: #888;
    }
  }
  
  #flash + #breadcrumbs {
    padding: 1px 0 0 0;
  }
  
  #flash {
    font-family: $helvetica-roman;
    padding: 20px 0 0 0;
    
    p {
      font-size: 12px;
      color: #c97f14;
      margin: 0;
    }
  }
}