h1 {
  font-size: 2em;
}

h2 {
  padding-bottom: 14px;
  background:  image-url($image-dotted-line) repeat-x left bottom;
  color:       #3e3838;
  font-size:   28px;
  text-shadow: 0 1px 1px #fff;
}

hr {
  height: 1px;
  border: 0;
  background:  image-url($image-dotted-line) repeat-x left bottom;
}

p {
  margin:      1em 0;
  font-size:   14px;
  line-height: 25px;
}

.fullscreen {
  overflow: visible;
  position: absolute;
  left:     0;
  top:      0;
  height:   100%;
  
  & > * {
    position: absolute;
    width:    100%;
    height:   auto;
  }
}

.scroll {
  overflow: auto;
}

.hidden {
  display: none;
}

.no-border {
  border: none !important;
}

.cl  { clear: both; }
.cll { clear: left; }
.clr { clear: right; }

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.button-link {
  cursor:     pointer;
  border:     0;
  padding:    0;
  background: none;
  @extend a;
}

#main {
  overflow:    hidden;
  background:  $background-color;
  width:       auto;
  height:      100%;
  left:        0;
  padding:     0 0 0 30px;
  
  #wrapper {
    overflow: visible;
    float:  left;
    width:  97%;
    height: 100%;
  }
}
