@import "compass/css3"
@import "compass/utilities/general/clearfix"

@import "chocolate/style/partials/lightbox_variables"

// Preload images
body:after
  content: image-url("chocolate/style/lightbox/close.png") image-url("chocolate/style/lightbox/loading.gif") image-url("chocolate/style/lightbox/prev.png") image-url("chocolate/style/lightbox/next.png")
  display: none

.lightboxOverlay
  position: absolute
  top: 0
  left: 0
  z-index: 9999
  background-color: #000
  +opacity(0.8)
  display: none

.lightbox
  position: absolute
  left: 0
  width: 100%
  z-index: 10000
  text-align: center
  line-height: 0
  font-weight: normal
  .lb-image
    display: block
    height: auto
    max-width: inherit
  a img
    border: none

.lb-outerContainer
  position: relative
  background-color: #fff
  +pie-clearfix
  width: 250px
  height: 250px
  margin: 0 auto

.lb-container
  padding: 0px

.lb-loader
  position: absolute
  top: 43%
  left: 0%
  height: 25%
  width: 100%
  text-align: center
  line-height: 0

.lb-cancel
  display: block
  width: 32px
  height: 32px
  margin: 0 auto
  background: image-url("chocolate/style/lightbox/loading.gif") no-repeat

.lb-nav
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%
  z-index: 10

.lb-container > .nav
  left: 0

.lb-nav a
  outline: none

.lb-prev, .lb-next
  width: 49%
  height: 100%
  cursor: pointer
  /* Trick IE into showing hover */
  display: block

.lb-prev
  left: 0
  float: left
  +opacity(0)
  +transition(opacity 0.6s)
  &:hover
    +opacity(1)
    background: image-url("chocolate/style/lightbox/prev.png") left 48% no-repeat

.lb-next
  right: 0
  float: right
  +opacity(0)
  +transition(opacity 0.6s)
  &:hover
    +opacity(1)
    background: image-url("chocolate/style/lightbox/next.png") right 48% no-repeat

.lb-dataContainer
  margin: 0 auto
  padding-top: 5px
  +pie-clearfix
  width: 100%

.lb-data
  padding: 0 4px
  color: #bbb
  .lb-details
    width: 85%
    float: left
    text-align: left
    line-height: 1.1em
  .lb-caption
    font-size: 13px
    font-weight: bold
    line-height: 1em
  .lb-number
    display: block
    clear: left
    padding-bottom: 1.0em
    font-size: 12px
    color: #999
  .lb-close
    display: block
    float: right
    width: 30px
    height: 30px
    background: image-url("chocolate/style/lightbox/close.png") top right no-repeat
    text-align: right
    outline: none
    +opacity(0.7)
    +transition(opacity 0.2s)
    &:hover
      cursor: pointer
      +opacity(1)