#listing {
  overflow: visible;
  width:    100%;
  height:   100%;
  
  .frame {
    margin-bottom: 13px;
  }
  
  table {
    width:        100%;
    font-size:    12px;
    font-family:  $helvetica-thin;
    color:        #b2b2b2;
    
    .select {
      width: image-width($image-icon-checkbox);
      padding-right: 12px !important;
      &.dummy {
        // KLUDGE needs this or else entire row formatting is messed
        padding-right: 1px !important;
      }
    }

    &.headings {
      border-bottom: $listing-headings-border;
      
      tr {
        th {
          padding:        14px 0;
          font-family:    $helvetica-light;
          font-size:      10px;
          color:          #a5a5a5;
          text-transform: uppercase;
          text-shadow:    1px 1px 0 #fff;
        }
      }
    }

    &.content {
      tr {
        border-top:    $listing-content-border;
        border-bottom: $listing-content-border;
        
        &:first-child {
          border-top: none;
        }
        td {
          padding: 10px 0;
          
          &:nth-child(2) {
            font-family: $helvetica-light;
            font-size:   14px;
            line-height: 20px;
            color:       #c97f14;

            img {
              float:   left;
              width:   $listing-image-width;
              height:  $listing-image-height;
              margin-right: 13px;
              border: $listing-content-border;
            }

            .controls {
              color:       #b2b2b2;
              font-family: $helvetica-thin;
              
              a, button {
                color: #c97f14;
                &.delete {
                  color: #b73b3b;
                }
              }
            } 
          }
        
          &.position {
            .icon-move {
              vertical-align: -2px;
              font-size: 18px;
              cursor: move;
            }
          }
        }
      }
    }
  }
      
  tr.ui-draggable-dragging {
    border: #ccc solid 1px;
    background: #eee;
    padding: 0.25em 1em;
    td {
      display: none;
    }
    
    td:nth-child(2) {
      display: block !important;
      > * {
        display: inline-block;
        vertical-align: middle;
      }
    
      .controls {
        display: none;
      }
    }

    img {
      display: inline-block;
      width: $listing-image-width;
      height: $listing-image-height;
      margin-right: 13px;
      border: $listing-content-border;
      vertical-align: middle;
    }
  }
  
  tr.drop-hover {
    background: #eee;
  }
}
