#navigation {
  float:   left;
  width:   $navigation-width;
  height:  100%;
  left:    0;
  z-index: 2;
  
  *[id^=level] {
    position:   absolute;
    height:     100%;
    box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px rgba(0,0,0,.75);
  } 
  
  #level-0 {
    left:       0;
    z-index:    3;
    background: #423d39 image-url($image-nav-bkg-top) repeat-x left top;
  
    #logo {
      position: absolute;
      width:    119px;
      top:      0;
      left:     0;
      padding:  30px 23px 43px 23px;
      opacity:  .6;    
      @include transition(opacity .375s ease-out);
      
      
      h1.logo {
        width:      image-width($image-nav-logo);
        height:     image-height($image-nav-logo);
        background: image-url($image-nav-logo);
      }
    }
  }

  .nav {
    width: 166px;
    margin: $navigation-margin-top 0 0 0;
    font-family: $helvetica-light;
    
    li {
      width:  100%;
      height: 36px;
      padding: 0;
      list-style-type: none;
      background: image-url($image-nav-bkg-0) repeat-x left top;
      
      a {
        display:      block;
        width:        100%;
        padding:      10px 0;
        font-family:  $helvetica-roman;
        font-size:    14px;
        font-weight:  500;
        color:        #fffefb;
        text-transform: capitalize;
        @include box-sizing(border-box);
        @include transition(background-color .25s ease-out, color .25s ease-out, border-color .25s ease-out);
        
        [class^="icon-"]:before, [class*=" icon-"]:before {
          padding:    0 6px;
          text-shadow: 1px 1px #000;
        }
        
        &:hover, &.selected {
          background-color: #2e2a27;
          border-right:     4px solid #fd9905;
          @include transition(background-color .25s ease-out, color .25s ease-out, border-color .25s ease-out);
          
          [class^="icon-"]:before, [class*=" icon-"]:before {
            color:  #3a3a3a;
            text-shadow: 1px 1px #fff;
          }
        }
      }
    }
  }
}


#context-menu {
  float: right;
  height: 100%;
  background: #fff;
  
  /*
  &:hover {
    cursor: pointer;
  }
  */
  
  &.collapsed {
    width: 30px;
    @include transition(all .375s ease-in-out);
  }
  
  &.expanded {
    width: $navigation-width;
    @include transition(all .375s ease-in-out);
  }
  
  .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
/*
#context-nav {
  margin-top:133px;
}
#context-nav > li > a {
  border-left-color:#ebebeb;
  color:#b3b3b3;
  width:auto;
}
#context-nav > li > a:hover, #context-nav > li > a.selected {
  background:#ebebeb;
  border-left:4px solid #b1b1b1;
  border-right:none;
  color:#7b7b7b;
  padding:10px 0 10px 32px;
}
#add-3 { background:url('../images/icons/target.png') no-repeat left top; display:block; height:16px; margin:10px 10px 10px 36px; width:16px; }
/*- Warnings -*/