.scrollbar {
  overflow:    visible;
  float:       right;
  width:       3px;
  right:       -10px;
  background:  #e1e1e1;
  line-height: 0;

  .handle {
    overflow:   visible;
    width:      100%;
    height:     100px;
    background: #b1b1b1;
    cursor:     pointer;
    
    .mousearea {
      overflow:   visible;
      position: absolute;
      top:      0;
      left:     -10px;
      width:    23px;
      height:   100%;
    }
  }
}
  
.frame {
  position: static;
}