// compass settings
$experimental-support-for-opera: false;
$experimental-support-for-khtml: false;
$experimental-support-for-svg:   true;

// imports
@import "compass/css3";
@import "chocolate/style/partials/variables";
@import "chocolate/style/partials/mixins";

// fonts
@include font-face-quick('HelveticaNeue-Light',      'chocolate/style/helvneue-lt');
@include font-face-quick('HelveticaNeue-Medium',     'chocolate/style/helvneue-md');
@include font-face-quick('HelveticaNeue-Roman',      'chocolate/style/helvneue-rm');
@include font-face-quick('HelveticaNeueLT Std Thin', 'chocolate/style/helvneue-th');
