/**
 * Separate file for mixins so that the chocolate-style bundle may be
 * required into stylesheets (preventing duplication) yet mixins may still
 * be accessible when imported.
 */

// shortform for generating @font-face
@mixin font-face-quick($name, $file, $weight: false, $style: false) {
  @font-face {
    font-family: $name;
    src: font-url($file + ".eot");
    src: font-url($file + ".eot")  format('embedded-opentype'),
         font-url($file + ".woff") format('woff'),
         font-url($file + ".ttf")  format('truetype');
    font-weight: $weight;
    font-style:  $style;
  }
}

// intended for anchors, transitions to a darker color on hover
@mixin darken-on-hover($color: $color-default, $amount: 30%) {
  color: $color;
  @include transition(color 0.2s ease-out);
  &:hover {
    color: darken($color, $amount);
  }
}

@mixin lighten-on-hover($color: $color-default, $amount: 30%) {
  color: $color;
  @include transition(color 0.2s ease-out);
  &:hover {
    color: lighten($color, $amount);
  }
}

@mixin glow-on-hover($color: $color-default, $size: 2px) {
  @include transition(text-shadow 0.2s);
  &:hover {
    @include text-shadow(0 0 $size darken($color, 5%));
  }
}

// apply CSS required for making a fade button
@mixin fade-button($sprite) {
  display: block;
  overflow: hidden;
  width: icons-sprite-width($sprite);
  height: icons-sprite-height($sprite);
        
  .out {
    position: relative;
    top: - icons-sprite-height($sprite);
  }
}

@mixin stretch-image($background-size: contain, $background-position: 50% 50%) {
  background-repeat:   no-repeat;
  background-position: $background-position;
  @include background-size($background-size);
}

@mixin flat-button {
  padding:     10px 24px;
  border:      none;
  background:  #c3c3c3;
  color:       #fff;
  font-family: $helvetica-light;
  font-size:   14px;
  @include transition(background-color .25s ease-out);
  
  &:hover {
    background: #adadad;
    @include transition(background-color .25s ease-out);
  }
}

@mixin nav-icon($icon) {
  background: image-url('chocolate/style/icons/' + $icon + '.png') no-repeat left top;
  &:hover, &.selected {
    background: #2e2a27 image-url('chocolate/style/icons/' + $icon + 'In.png') no-repeat left top;
  }
}