.radio-toggle {
  .radio-label {
    display: inline-block;
    margin-right: 10px;
    
    &:hover {
      cursor:pointer;
    }
  }
  
  .pseudo-radio {
    padding:    3px 20px;
    background: image-url('chocolate/style/icons/radio.png') no-repeat left center;
    font-size:  14px;
    
    &.checked {
      background: image-url('chocolate/style/icons/radioIn.png') no-repeat left center;
    }
  }
}
  
.slide-toggle {
  width:  image-width('chocolate/style/icons/toggle-on.png');
  height: image-height('chocolate/style/icons/toggle-on.png');
  cursor: pointer;
  
  .slide {
    position: absolute;
    top:      0;
    width:    100%;
    height:   100%;
    
    .handle {
      position: absolute;
      left:     0;
      width:    image-width('chocolate/style/icons/toggle-handle.png');
      height:   image-height('chocolate/style/icons/toggle-handle.png');
      z-index:  2;
      background-image: image-url('chocolate/style/icons/toggle-handle.png');
      @include transition(left .35s ease-out);
    }
    .on-state {
      position: absolute;
      top:      0;
      width:    image-width('chocolate/style/icons/toggle-on.png');
      height:   image-width('chocolate/style/icons/toggle-on.png');
      background-image: image-url('chocolate/style/icons/toggle-on.png');
      
    }
    .off-state {
      position: absolute;
      top:      0;
      width:    image-width('chocolate/style/icons/toggle-off.png');
      height:   image-width('chocolate/style/icons/toggle-off.png');
      background-image: image-url('chocolate/style/icons/toggle-off.png');
      z-index:  1;
      @include opacity(0);
      @include transition(opacity .35s ease-out);
    }
    
    &.off {
      .handle {
        left: image-width('chocolate/style/icons/toggle-off.png') - image-width('chocolate/style/icons/toggle-handle.png');
        @include transition(left .35s ease-out);
      }
      
      .off-state {
        @include opacity(1);
        @include transition(opacity .35s ease-out);
      }
    }
  }
}
  
  
.checkbox {
  display: inline-block;
  
  .pseudo-checkbox {
    width:  17px;
    height: 17px;
    background: image-url('chocolate/style/icons/checkbox.png') no-repeat left center;
    border: none;
    &.checked {
      background: image-url('chocolate/style/icons/checkboxCh.png') no-repeat left center;
    }
    &.partial {
      background: image-url('chocolate/style/icons/checkboxPa.png') no-repeat left center;
    }
  }
}

