div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,label,fieldset,input,p,blockquote,th,td,img,a img{border:none;margin:0;padding:0}
a,:link,:visited{color:inherit;text-decoration:none}table{border-collapse:collapse;border-spacing:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:400}ol,ul,li{list-style:none}caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}q:before,q:after{content:''}:focus,:hover,a:hover{outline:none}
input[type=submit]:hover{cursor:pointer}input:required:invalid,input:focus:invalid{-moz-box-shadow:none}
article,aside,date,details,figcaption,figure,footer,header,hgroup,menu,nav,section,time,video,img{display:block}
article,aside,footer,header,hgroup,menu,nav,section,div,ul,li,h1,h2,h3,h4,h5,h6,p,form{overflow:hidden;position:relative}body{font-size:12px}