/**
 * Separate file for variables so that the chocolate-style bundle may be
 * required into stylesheets (preventing duplication) yet variables may still
 * be accessible when imported.
 */

// fonts
$helvetica-light:           "HelveticaNeue-Light",arial,helvetica,sans-serif;
$helvetica-normal:          "HelveticaNeue-Medium",arial,helvetica,sans-serif;
$helvetica-roman:           "HelveticaNeue-Roman",arial,helvetica,sans-serif;
$helvetica-thin:            "HelveticaNeueLT Std Thin",arial,helvetica,sans-serif;

// general
$default-font-size:         1.1em;
$background-color:          #f4f4f4;

// layout
$navigation-width:          165px;
$navigation-margin-top:     93px;
$context-expanded-width:    165px;
$context-contracted-width:  30px;

// forms
$form-border:               1px solid #bdbdbd;

// listing
$listing-content-border:    1px solid #e6e6e6;
$listing-headings-border:   1px solid #999;
$listing-image-width:       40px;
$listing-image-height:      40px;

// images
$image-bkg-devise:          'chocolate/style/devise-bg.jpg';
$image-logo-devise:         'chocolate/style/devise-logo.png';
$image-dotted-line:         'chocolate/style/dotted-line.png';
$image-icon-checkbox:       'chocolate/style/icons/checkbox.png';
$image-icon-target:         'chocolate/style/icons/target.png';
$image-nav-bkg-top:         'chocolate/style/nav-top-bg.png';
$image-nav-bkg-0:           'chocolate/style/nav-0-bg.png';
$image-nav-logo:            'chocolate/style/nav-logo.png';
$image-arrow-dn-sml:        'chocolate/style/icons/arrow-small-down.png';

